main {
  background-color: rgb(253, 122, 46);
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.circle {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-top: 3em;
  background-color: white;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.circle p {
  color: black;
  font-size: 5em;
}

.start {
  background-color: white;
}

.evencolor {
  background-color: rgb(235, 233, 128);
}

.oddcolor {
  background-color: rgb(236, 129, 129);
}
